.tag {
    background: rgba(255, 255, 255, 0.8);
    display: inline-flex;
    padding: 2px;
    border-radius: 4px;
    margin:0.5em;
  }

  .color {
    background: rgba(255, 255, 255, 0.8);
    width: 18px;
    border-radius: 4px;
  }

  .label {
    padding-left: 4px;
  }

  .label::after {
    content: ":";
    margin-left: 4px;
  }

  .delegates {
    padding: 0px 3px;
  }